

{% load static %}
<!DOCTYPE html>
<html style="font-size: 16px;">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="page_type" content="np-template-header-footer-from-plugin">
    <title>{% block title %}Dark confl1cts{% endblock %}</title>
          <link rel="stylesheet" type="text/css" href="{% static 'css/nicepage.css' %}">
      <link rel="stylesheet" type="text/css" href="{% static 'css/pginicial.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" />
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i">


    <script type="application/ld+json">{
		"@context": "http://schema.org",
		"@type": "Organization",
		"name": ""
}</script>
    <meta name="theme-color" content="#478ac9">
    <meta property="og:title" content="Página Inicial">
    <meta property="og:type" content="website">
  </head>
  <body data-home-page="Página-Inicial.html" data-home-page-title="Página Inicial" class="u-body" style="background-image: url('https://images.hdqwalls.com/wallpapers/skull-hacker-hd.jpg');">



    <header>
        <nav class="navbar navbar-expand navbar-dark bg-dark mb-3" style="width: 100%; height: 50px;">
            <div class="container">
                <a class="navbar-brand" >D4rk confl1cts</a>
                <ul class="navbar-nav">
                    {% if user.is_authenticated %}
                    <li class="nav-item">

                        <font size="3"
                              face="verdana"
                              color="white">

                                </font>
                        <a class="nav-link" href="{% url 'account_logout' %}">Sair</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'account_login' %}">Entrar</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'account_signup' %}">Cadastro</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </nav>
    </header>



{% if user.is_authenticated %}

    <section class="u-clearfix u-image u-shading u-section-1" id="sec-97b0" data-image-width="1024" data-image-height="576">
      <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-clearfix u-expanded-width u-gutter-0 u-layout-wrap u-layout-wrap-1">
          <div class="u-gutter-0 u-layout">
            <div class="u-layout-row">
              <div class="u-container-style u-layout-cell u-size-15-xl u-size-18-lg u-size-18-sm u-size-18-xs u-size-60-md u-layout-cell-1">
                <div class="u-container-layout u-container-layout-1">
                  <a href="/" class="u-btn u-button-style u-hover-palette-1-dark-1 u-palette-1-base u-btn-1">HOME&nbsp;&nbsp;</a>
                  <a href="/task/" class="u-btn u-button-style u-hover-palette-1-dark-1 u-palette-1-base u-btn-2">TASK MANAGER</a>
                  <a href="/software/" class="u-btn u-button-style u-hover-palette-1-dark-1 u-palette-1-base u-btn-3">SOFTWARE</a>
                  <a href="/hardware/" class="u-btn u-button-style u-hover-palette-1-dark-1 u-palette-1-base u-btn-4">HARDWARE</a>
                  <a href="/log/" class="u-btn u-button-style u-hover-palette-1-dark-1 u-palette-1-base u-btn-5">LOG</a>
                  <a href="/database/" class="u-btn u-button-style u-hover-palette-1-dark-1 u-palette-1-base u-btn-6">DATABASE</a>
                  <a href="/internet/" class="u-btn u-button-style u-hover-palette-1-dark-1 u-palette-1-base u-btn-7">NETWORK</a>
                  <a href="/ranking/" class="u-btn u-button-style u-hover-palette-1-dark-1 u-palette-1-base u-btn-8">RANKING</a>
                </div>
              </div>

              <div class="u-container-style u-layout-cell u-size-28-lg u-size-28-sm u-size-28-xs u-size-31-xl u-size-60-md u-layout-cell-2">
                <div class="u-container-layout u-valign-middle u-container-layout-2">
                  <div class="u-container-style u-expanded-width u-group u-palette-3-light-3 u-radius-30 u-shape-round u-group-1">
                    <div class="u-container-layout u-container-layout-3">
                      <p class="u-text u-text-default u-text-1">
                        <div style="width: 550px; height: 600px; overflow-y: scroll;">

                        {% block content %}



                        {% endblock %}

                        </div>



                         </div>
                  </div>
                </div>
              </div>
              <div class="u-align-left u-container-style u-layout-cell u-size-14 u-size-60-md u-layout-cell-3">
                <div class="u-container-layout u-valign-middle u-container-layout-4">
                  <div class="u-container-style u-group u-opacity u-opacity-55 u-shape-rectangle u-white u-group-2">
                    <div class="u-container-layout u-container-layout-5">
                      <h5 class="u-text u-text-default u-text-2">
                          <div style="width: 260px; height: 600px; overflow-y: scroll;">

                              {% block menuright%}
                              <p>INFO</p>
                              <div class="infouser" style="border: 1px solid #000">
                                  ip: {{ user.gameip }}
                              </div>
                              <p>tasks</p>
                              <div class="infotask" style="border: 1px solid #000">
                                  <div class="tasksmenu" style="width: 240px; height: 200px; overflow-y: scroll;">



                                  {% for task in user.get_tasks %}
                                    

                                          <font size="1">
                                              {% now "Y-m-d H:i:s" as nowdate %}
                                              action: {% if task.action == 1 %}
                                               Edit local hosting</br>
                                              {% elif task.action == 2 %}
                                               Try hack ip {{ task.iptryhack }} </br>
                                               {% elif task.action == 3 %}
                                                  download soft {{task}}
                                                                                             {% elif task.action == 4 %}
                                                  delet soft

                                              {% endif %}

                                              {% if nowdate > task.timeend|date:"Y-m-d H:i:s" %}
                                                  <form method="post" action="/taskcompleteid={{ task.id }} "
                                                  >
                                                      {% csrf_token %}
                                                          <button>Complete</button>
                                                  </form>

                                              {% else %}
                                              finish at : {{ task.timeend|date:"Y-m-d H:i:s" }}
                                              {% endif %}
                                            </font>
                                  {% endfor %}





                                  </div></div>
                                                    <p>carteira</p>
                               <div class="infotask" style="border: 1px solid #000">

                                Saldo: $ {{ user.money }}


                              {% endblock %}

                          </div>







                      </h5>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <footer class="u-align-center u-clearfix u-footer u-grey-80 u-footer" id="sec-2e8c"><div class="u-align-left u-clearfix u-sheet u-sheet-1"></div></footer>
{% endif %}
  {% if not user.is_authenticated %}
       <main class="container" style="width: 300px; height: 200px;">
        {% block all_auth %}

        {% endblock %}
  {% endif %}
  </body>
</html>