{% extends 'base.html' %}



{% block content %}


<div class="span9">
<div class="widget-box" >
<div class="widget-content padding">
<div class="span12">
<form action="" method="get" class="form-horizontal">
<div class="browser-input">
IP address: <input class="browser-bar" name="ip" type="text" value="{{ ip_victim }}">
<input type="submit" class="btn btn-inverse" value="Go">

</div>
</div>
</form>
</div>
<div style="clear: both;"></div>
</div>
</div>
<div class="widget-box">
<div class="widget-title">

</div>
<div class="widget-content padding noborder">
<div class="span12">




<p>Server {{ ip_victim }} is <font color="green"><b>online</b></font><span class="label label-warning pull-right">Whois</span></p>
  {{ text_vpc }}  {{ text_npc|safe }}




{{ msgerro }}


</div>
</div>
<div style="clear: both;" class="nav nav-tabs">&nbsp;</div>
</div>


{% endblock %}


