{% extends 'base.html' %}
<style>
    label,
textarea {
    font-size: .8rem;
    letter-spacing: 1px;
}
textarea {
    padding: 10px;
    max-width: 100%;
    line-height: 1.5;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px #999;
}

label {
    display: block;
    margin-bottom: 10px;
}




</style>





{% block content %}






    <form method="post" name="editlog">
    {% csrf_token %}
    <textarea id="logarea" name="logarea"
          rows="5" cols="70"> {{ mylog }}
</textarea>
         <input type="submit" value="Edit log" name='editlog'>
    {% csrf_token %}
</form>



{% endblock %}
