{% extends 'base.html' %}


{% block content %}








    <table class="table table-cozy table-bordered table-striped table-hover with-check">
<thead>
<tr>
<th>#</th>
<th>User</th>
<th>Reputation</th>
<th>Hacked Database IPs</th>
<th>Clan</th>
</tr>
</thead>
<tbody>

    {% for inforank in context %}
<tr>
<td><center>{{ inforank.index }} </center></td>
<td>{{ inforank.userid }}</a></td>
<td><center>{{ inforank.reputation }}</center></td>
<td><center> </center></td>
<td> </td>
</tr>
{% endfor %}
</tbody>
</table>


{% endblock %}
