{% extends 'base.html' %}




{% block content %}


<div class="widget-title">
<ul class="nav nav-tabs">
</ul>
</div>
<div class="widget-content padding noborder">
<div class="span9">
<table class="table table-cozy table-bordered table-striped table-software table-hover with-check">
<thead>
<tr>
<th></th>
<th>Software name</th>
<th>Version</th>
<th class="hide-phone">Size</th>
<th>Actions</th>
</tr>
</thead>
<tbody>
{% for soft in softwares %}

<tr id="{{ soft.id }}" class="installed">
<td>
<span class="he16-1 tip-top"></span>
</td>
<td>
<b>{{soft.softname}}{% for type in typesofts %}
 {% if type.id == soft.softtype_id %}
 {{type}}
 {% endif %}
 {% endfor %}








</b>
</td>
<td>
<font color="orangered">{{ soft.softversion }}</font>
</td>
<td class="hide-phone">
 <font color="orangered">{{ soft.softsize }}</font>
</td>
<td style="text-align: center">
<a href="?id=1009047" class="tip-top"><span class="he16-software_info"></span></a>
<a href="?action=uninstall&amp;id=1009047" class="tip-top"><span class="he16-stop"></span></a>
<span class="he16-transparent"></span>
<a href="?action=del&amp;id=1009047" class="tip-top"><span class="he16-bin"></span></a>
</td>
</tr>

{% endfor %}
{% endblock %}
