{% extends 'base.html' %}




{% block content %}


{% for soft in softwares %}
{{soft.softname}}{% for type in typesofts %}
 {% if type.id == soft.softtype_id %}
 {{type}}
 {% endif %}
 {% endfor %}


<font color="orangered">{{ soft.softversion }}</font>

 <font color="orangered">{{ soft.softsize }}</font>

<td style="text-align: center">

<form method="post">
    {% csrf_token %}
 <button>download</button>
</form>
 <form method="post">
    {% csrf_token %}
 <button>excluir</button>
</form>



{% endfor %}

{% endblock %}
